{% extends "base_generic.html" %}

{% block title %}<title>{{ author }}</title>{% endblock %}

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>{{ author.first_name }} {{ author.last_name }}</h2>
            <p>{{ author.summary|truncatechars:150 }}</p>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8">
                    <!-- <img src="{{ book.book_content_image.url }}" class="img-fluid" alt=""> -->
                    <h3>Author Summary</h3>
                    <p>{{ author.summary }}</p>
                </div>
                <div class="col-lg-4">
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Books</h5>
                        <p>{{ author.book_set.all|length }}</p>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Date of Birth</h5>
                        <p>{{ author.date_of_birth }}</p>
                    </div>
                    {% if author.date_of_death %}
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Date of Death</h5>
                        <p>{{ author.date_of_death }}</p>
                    </div>
                    {% endif %}
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Date Created</h5>
                        <p>{{ author.created }}</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Author Details Section -->

    <!-- ======= Author Books Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
        <div class="container" data-aos="fade-up">
            <div class="text-center mb-4">
                <h3>Books by {{ author }}</h3>
                <hr>
            </div>
            <div id="courses" class="row courses">
                {% if author.book_set %}
                {% for book in author.book_set.all %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item flex-fill mb-4">
                        <img src="{{ book.book_cover_image.url }}" class="img-fluid" alt="...">
                        <div class="course-content">
                            <h3><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h3>
                            <p>{{ book.summary|truncatechars:120 }}</p>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>{{ book.genre.all|join:", " }}</h4>
                                <p class="price"></p>
                            </div>
                            {% if user.is_staff %}
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <small><a href="{% url 'book-update' book.pk %}"><i class="bx bxs-edit"></i> Edit
                                        Book</a></small>
                                <small><a class="text-danger" href="{% url 'book-delete' book.pk %}"><i
                                            class="bx bx-x-circle"></i>
                                        Delete Book</a></small>
                            </div>
                            {% endif %}
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-rank d-flex align-items-center">
                                    <i class="bx bx-book"></i>&nbsp;50
                                    &nbsp;&nbsp;
                                    <i class="bx bx-like"></i>&nbsp;65
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->
                {% endfor %}
                {% endif %}
            </div>

        </div>
    </section><!-- End Cource Details Tabs Section -->

</main>
{% endblock %}

<!-- Old block -->
<!-- {% block old-content %}
<h1>Author's Name: {{ author.first_name }} {{ author.last_name }}</h1>

<p><strong>Date of Birth:</strong> {{ author.date_of_birth }}</p>
{% if author.date_of_death %}
<p><strong>Date of Death:</strong> {{ author.date_of_death }}</p>
{% endif %}


<div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    <ul>
        {% for book in author.book_set.all %}
        <li>
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
            <p>{{ book.summary }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %} -->