{% extends "base_generic.html" %}

{% block title %}<title>Delete Author</title>{% endblock %}

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>
                Delete Author
            </h2>
        </div>
    </div><!-- End Breadcrumbs -->

    <section id="delete" class="delete">
        <div class="container mt-5" data-aos="fade-in">
            <h5 class="">Are you sure you want to delete the author: {{ author }}?</h5>
            <form action="" method="POST" class="delete">
                {% csrf_token %}
                <div class="text-center"><button class=" bg-danger text-white" type="submit">Yes, delete.</button></div>
            </form>
        </div>
    </section>
</main>
{% endblock %}

{% block old-content %}

<h1>Delete Author</h1>

<p>Are you sure you want to delete the author: {{ author }}?</p>

<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes, delete." />
</form>

{% endblock %}