{% extends "base_generic.html" %}
{% load static %}


{% block title %}<title>{{ book.title }}</title>{% endblock %}

{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>{{ book.title }}</h2>
            <p>{{ book.bookinstance.imprint }}</p>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8">
                    <img src="{{ book.book_content_image.url }}" class="img-fluid" alt="">
                    <h3>Book Summary</h3>
                    <p>{{ book.summary }}</p>
                </div>
                <div class="col-lg-4">
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Author</h5>
                        <p><a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>ISBN</h5>
                        <p>{{ book.isbn }}</p>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Language</h5>
                        <p>{{ book.language }}</p>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Genre</h5>
                        <p>{{ book.genre.all|join:", " }}</p>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Available copies</h5>
                        <p>{{ book.bookinstance_set.all|length }}</p>
                    </div>

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Date Created</h5>
                        <p>{{ book.created }}</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Cource Details Section -->

    <!-- ======= Book Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
        <div class="container" data-aos="fade-up">
            {% if book.bookinstance_set %}
            <div class="text-center mb-4">
                <h3>Book Copies</h3>
                <hr>
            </div>
            {% endif %}
            <div class="row">
                {% for copy in book.bookinstance_set.all %}
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if forloop.first %}active show{% else %}{% endif %}"
                                data-bs-toggle="tab" href="#tab-{{ forloop.counter }}">
                                {{ copy.imprint }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane {% if forloop.first %}active show{% endif %}"
                            id="tab-{{ forloop.counter }}">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h4>Summary of {{ copy.imprint }}</h4>
                                    <p class="fst-italic"></p>
                                    <p>{{ copy.copy_summary }}</p>
                                </div>
                                <div class="col-lg-4 course-details order-1 order-lg-2">
                                    <div class="course-info d-flex justify-content-between">
                                        <h5>Book Status</h5>
                                        <p
                                            class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'o' %}text-danger{% else %}text-warning{% endif %}">
                                            {{ copy.get_status_display }}</p>
                                    </div>
                                    {% if copy.status != 'a' %}
                                    <div class="course-info d-flex justify-content-between">
                                        <h5>Return Date</h5>
                                        <p>{{ copy.due_back }}</p>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section><!-- End Cource Details Tabs Section -->

</main>
{% endblock %}

<!-- Old block content -->
<!-- {% block old-content %}
<h1>Title: {{ book.title }}</h1>

<p><strong>Author:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
<p><strong>Summary:</strong> {{ book.summary }}</p>
<p><strong>ISBN:</strong> {{ book.isbn }}</p>
<p><strong>Language:</strong> {{ book.language }}</p>
<p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>

<div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in book.bookinstance_set.all %}
    <hr>
    <p
        class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
    </p>
    {% if copy.status != 'a' %}
    <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
    {% endif %}
    <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
    <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
</div>
{% endblock %} -->